<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
        integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"
        integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P"
        crossorigin="anonymous"></script>
    <style>
        .main-container {
            background: white;
        }

        .instructions {
            font-size: 9pt;
        }

        .footer {
            margin-top: 20px;
        }

        .forgot {
            margin-left: 10px;
        }

        .credits {
            color: tomato;
            float: right;
        }

        .leftPane {
            background-color: #4267B2;
            margin: 0;
            padding: 0;
            height: 100vh;
            width: 30vh;
            text-align: center;
        }

        .rightPane {
            margin: 0;
            padding: 0;
            height: 100vh;
            width: 150vh;
            text-align: center;
        }
    </style>

    <title>Facebook</title>
</head>

<body>
    <div class="container">

        <div class="row">
            <div class="leftPane">
                <img src="static/assets/logo_w.png" width="100px" height="100px">
                <br>
                <br>
                <form method="get" action="/<%= user._id %>/edit">
                    <button type="submit" class="btn btn-primary">Edit Prifle</button>
                </form>
                <br>
                <hr>
                <form method="get" action="/<%= user._id %>/changePass">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
                <br>
                <hr>
                <form method="POST" action="/<%= user._id %>/deleteUser">
                    <button type="submit" class="btn btn-primary">Delete Account</button>
                </form>
                <br>
                <hr>
                <form method="POST" action="/logout">
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form>
                <br>
                <hr>
            </div>
            <div class="rightPane">
                <div class="userContent">
                    <form method="POST" action="/<%=user._id %>/editDetails">
                        <button type="submit" class="btn btn-success">Update</button>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="firstName" placeholder="First Name">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="lastName" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="email"
                                placeholder="Mobile Number or Email Address">
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="Birthday" class="lead">Birthday</label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="date" class="form-control" name="bday" min="1970-01-01">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group form-check-inline col-md-3">
                                <label for="Gender" class="lead">Gender</label>
                            </div>
                            <div class="form-check form-check-inline col-md-2">
                                <input class="form-check-input " type="radio" name="gender" value="male" checked>
                                <label class="form-check-label" for="gender">
                                    Male
                                </label>
                            </div>
                            <div class="form-check form-check-inline col-md-3">
                                <input class="form-check-input " type="radio" name="gender" value="female">
                                <label class="form-check-label" for="gender">
                                    Female
                                </label>
                            </div>
                            <div class="form-check form-check-inline col-md-2">
                                <input class="form-check-input" type="radio" name="gender" value="other">
                                <label class="form-check-label" for="gender">
                                    Other
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/main.js"></script>
</body>

</html>