<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
        integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"
        integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P"
        crossorigin="anonymous"></script>
<style>
    .main-container {
        background: white;
    }

    .instructions {
        font-size: 9pt;
    }

    .footer {
        margin-top: 20px;
    }

    .forgot {
        margin-left: 10px;
    }

    .credits {
        color: tomato;
        float: right;
    }

    .leftPane {
        background-color: #4267B2;
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 30vh;
        text-align: center;
    }

    .rightPane {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 150vh;
        text-align: center;
    }
</style>
    <title>Login | Facebook</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="https://www.facebook.com/">
                <img src="static/assets/logo.png" width="130" height="50" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <form class="form-inline my-2 my-lg-0" method="POST" action="/login">
                    <input class="form-control mr-sm-2" type="Email" placeholder="Email" name="emailLogin">
                    <input class="form-control mr-sm-2" type="password" placeholder="Password" name="passwordLogin">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Login</button>
                    <div class="forgot">
                        <a href="#">Forgot Password?</a>
                    </div>
                </form>

            </div>
        </nav>
        <div class="row">
            <div class="col-sm-10">
            </div>
        </div>
        <div class="row bg-light">
            <div class="col-sm">
                <div class="jumbotron bg-light">
                    <p class="lead">Facebook helps you connect and share with the people in your life.</p>
                    <img src="static/assets/global.png" class="img-fluid">
                </div>
            </div>
            <div class="col-sm">
                <h2 class="display-4">
                    Create an Account
                </h2>
                <p class="lead">
                    It's quick and easy.
                </p>
                <form method="POST" action="/signUp">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="firstName" placeholder="First Name">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="lastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="email"
                            placeholder="Mobile Number or Email Address">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="New Password">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="Birthday" class="lead">Birthday</label>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="date" class="form-control" name="bday" min="1970-01-01">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group form-check-inline col-md-3">
                            <label for="Gender" class="lead">Gender</label>
                        </div>
                        <div class="form-check form-check-inline col-md-2">
                            <input class="form-check-input " type="radio" name="gender" value="male" checked>
                            <label class="form-check-label" for="gender">
                                Male
                            </label>
                        </div>
                        <div class="form-check form-check-inline col-md-3">
                            <input class="form-check-input " type="radio" name="gender" value="female">
                            <label class="form-check-label" for="gender">
                                Female
                            </label>
                        </div>
                        <div class="form-check form-check-inline col-md-2">
                            <input class="form-check-input" type="radio" name="gender" value="other">
                            <label class="form-check-label" for="gender">
                                Other
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <p class="instructions">By clicking Sign Up, you agree to our <a href="#">Terms, Data Policy</a>
                            and <a href="#">Cookie Policy.</a>
                            You may receive SMS
                            notifications from us and can opt out at any time.</p>
                    </div>
                    <button type="submit" class="btn btn-success">Sign Up</button>
                    <br></br>
                    <p class="instructions"><a href="#">Create a Page</a> for a celebrity, band or business.</p>
                </form>
            </div>
        </div>
        <div class="footer">
            <p class="lead instructions"> All the links could be included here but it's very redundant <span
                    class="lead instructions credits">
                    Developed with &#10084;&#65039;
                    by Razi
                </span></p>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>

</html>